<div class="nav-wrapper">
  <span class="site-title">$site-title$</span>
  <a href="#" data-activates="mobile-navbar" class="button-collapse">
    <i class="mdi mdi-menu white-text"></i>
  </a>

  <a href="https://github.com/futtetennismo/materialize-hakyll">
    <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png">
  </a>

  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>
      <a href="/" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-home left indigo-text text-lighten-3"></i>
        Home
      </a>
    </li>
    <li>
      <a href="/about.html" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-account-circle left indigo-text text-lighten-3"></i>
        About
      </a>
    </li>
    <li>
      <a href="/archive.html" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-archive left indigo-text text-lighten-3"></i>
        Archive
      </a>
    </li>
    <li>
      <a href="/feed.xml" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-rss left indigo-text text-lighten-3"></i>
        Feed
      </a>
    </li>
  </ul>

  <ul class="side-nav" id="mobile-navbar">
    <li>
      <a href="/" class="waves-effect waves-teal black-text">
        <i class="mdi mdi-home left green-text"></i>
        Home
      </a>
    </li>
    <li>
      <a href="/about.html" class="navbar-text-colour-mobile">
        <i class="mdi mdi-account-circle left blue-text"></i>
        About
      </a>
    </li>
    <li>
      <a href="/archive.html" class="navbar-text-colour-mobile">
        <i class="mdi mdi-archive left blue-text"></i>
        Archive
      </a>
    </li>
    <li>
      <a href="/feed.xml" class="navbar-text-colour-mobile">
        <i class="mdi mdi-rss left red-text"></i>
        Feed
      </a>
    </li>
  </ul>
</div>
